/* make input transparent */
.input {
  background: transparent;
  /* border: none; */
  color: rgba(154, 233, 154, 0.517);
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.5rem;
  border: 1px solid #21ce99;
  width: 100%;
}
/* change default placeholder color */

input::-webkit-input-placeholder {
  color: white;
}
/* input on hover */
input:hover {
  font-size: 2rem;

  box-shadow: inset 0 0 0 1px rgba(203, 151, 6, 0.368);
/* underline play  */
margin-bottom: 0.5rem darkgoldenrod;
transition: all 0.5s ease-in-out;
}
/* placeholder design */

input::placeholder {
  color: white !important;
  
}



input:focus {
  outline: none;
}